/* Estilos CSS aqui */
* {
  font-family: serif;
}

body {
  background-image: url("img/imagem_chat.jpg");
  background-size: cover;
}

button {
  margin-right: 10px;
  display: inline-block;
  font-family: "Roboto";
  font-size: 1em;
  width: 20%;
  border: none;
  background: #0084ff;
  padding: 15px;
  color: #444;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
}

#send-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPanel {
  position: absolute;
  margin: 70px auto;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  z-index: 3;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 30px #aaa;
  transition: all 0.12s;
}

.colorPanel__colorSlot {
  box-sizing: border-box;
  width: 33%;
  height: 33%;
  padding: 10px;
}

.colorPanel__color {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  cursor: pointer;
  background: #eee;
  transition-duration: 0.12s;
}

.colorPanel__color:hover {
  opacity: 0.7;
}

.chatbox {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 100px auto;
  padding: 2px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 30px #eee;
  font-size: 17px;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.chatbox__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 900;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: space-between;
  border-bottom: 2px solid #f5f5f5;
}

.chatbox__headerText {
  width: 100%;
  display: flex;
  color: #aaa;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.chatbox__onlineDot {
  display: block;
  background: #00c853;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-left: 5px;
  animation-name: blinking;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.chatbox__tooltip {
  opacity: 0;
  z-index: 2;
  width: auto;
  font-size: 12px;
  text-align: center;
  padding: 3px 10px;
  cursor: default;
  position: absolute;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  background: #111;
  transition: all 0.14s;
}

.chatbox__tooltip--bottom {
  top: 115%;
  margin-left: 110px;
  opacity: 0.2;
}

.chatbox__tooltip--left {
  right: calc(100% + 5px);
  right: -moz-calc(100% + 5px);
  margin-left: 5px;
  top: 5px;
}

.chatbox__messages {
  height: 400px; /* Define a altura desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.chatbox__messageBox {
  width: 100%;
  margin-top: 5px;
  position: relative;
}

.chatbox__messageBox--primary {
  text-align: right;
}

.chatbox__message {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: default;
  background: #f1f1f1;
  transition: all 0.12s;
}

.chatbox__entrada {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: default;
  background: #f1f1f1;
  transition: all 0.12s;
}

.chatbox__message--primary {
  color: white;
}

.chatbox__inputPanel {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.chatbox__input {
  font-family: "Roboto";
  font-size: 1em;
  width: 100%;
  border: none;
  background: #f3f3f3;
  padding: 15px;
  color: #444;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
}

.chatbox__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 22px;
  margin-right: 10px;
  color: white;
  border-radius: 15px;
  background: #ff004c;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.1s;
}

.chatbox__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .chatbox {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
}

#message-list {
  overflow-y: scroll;
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
  -ms-overflow-style: none; /* Oculta a barra de rolagem no IE e no Edge */
}

#message-list::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}
